
/********************************* Cover photo & Profile *********************************/

.social-cover{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;   
}

.cover-container {
    height:350px;
    margin-top:-10px;
    background-image:url(../img/lolbg.jpg);
    background-size:cover;
    position:relative;
    margin-bottom:25px;
    background-position:30% 20%;
}

.border-black75 {
    border-color: #3F3F3B!important;
}

.social-avatar {
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    position: absolute;
    background: -webkit-linear-gradient(top,rgba(0,0,0,.3) 0,rgba(0,0,0,.5) 100%);
    background: linear-gradient(top,rgba(0,0,0,.3) 0,rgba(0,0,0,.5) 100%);
}

.img-avatar{
    display:block;
    border-radius:100px;
    border:2px solid #fff;
    margin:auto;
    margin-top:50px;    
}

.social-desc {
    top: 0;
    left: 0;
    bottom: 0;
    right: 300px;
    position: absolute;
}

.social-desc div {
    margin-left: 10%;
    margin-top: 100px;
}

.social-like-count {
    cursor: pointer;
    display: inline-block;
}

.social-like-count>span {
    margin-left: 25px;
}


/********************************* Profile *********************************/

.post-date{
    background:#eee;
    color:#31b0d5;
}

.toggled {
    position: absolute;
    margin-right: -250px;
}

#profileCol .profile-sidebar{
  margin: -180px 10px 0px 20px;
  z-index: 1;  
  min-height: 410px;
}

@media (min-width: 300px) and (max-width: 500px) {

   #profileCol .profile-sidebar{
      margin: -175px 10px 0px 0px;
   }

}

.hr-sep{
    border:1px solid  #eee;  
}

.profile {
  margin: 20px 0;
}

.profile-sidebar {
  padding: 20px 0 10px 0;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
/*  width: 50%;
  height: 50%;*/
  border: 4px solid black;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-usermenu {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-usermenu img {
  margin-top: -50px;
  margin-bottom: -40px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

.summoner-rating {
  margin-top: 5px;
  margin-left: 40px;
}

.summoner-rating-stars {
  margin-top: 2px;
}

.summoner-rating-count {
  font-weight: bold;
  margin-left: 2px;
}

.rankedStats {
  font-family: "Verdana";
  border-style: solid;
  border-width: 1px;
  text-align: center;
  margin-bottom: 10px;
}

.rankedStatsHeader {
  font-weight: bold;
  font-size: 12px;
}

.rankedWins {
  font-size: 11px;
  color: #66C285;
}

.rankedLosses {
  font-size: 11px;
  color: #D15353;
}

.rankedWinRate {
  font-size: 11px;
}

.tierIcon {
  height: auto;
  width: 150px;
}

.summonerStats {
  display: inline-block;
}

.divisionRank {
  font-weight: bold;
  font-size: 12px;
}

.divisionUnranked {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.leaguePoints {
  font-size: 14px;
}

/********************************* Most Played Champions *********************************/

/*#profile-champions {
  font-size: 12px;
}

#profile-champions.row {
  margin: 0;
}

@media (min-width: 300px) and (max-width: 500px) {

   #profile-champions.row{
      margin: -10px; 
   }

}

.championRow {
  background-color: #233140;
  color: #FFF;
  margin-bottom: 2px;
  padding: 5px;
}

.championInfo img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.championInfo, .championKDA, .championGames {
  padding: 0;
}

.championInfo {
  display: block;
  margin-top: 5px;
  font-size: 10px;
}

.championCS {
  display: block;
  margin-right: -5px;
}

.championKDA {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
}

.kDA {
  font-size: 10px;
}

.championGames {
  display: block;
  margin-top: 5px;
  font-size: 10px;
}

.championWinRate {
  font-size: 20px;
  margin-top: 0px;
}*/


/******************************** Content *********************************/

.content-border {
    border: 1px solid #ccc;
    padding: 20px;
    background: #F5F5F5;
    box-shadow: none;
    border-radius: 3px;
    position: relative;
    max-height: 100000px;
    transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
}

.content-sidebar {
  padding: 20px;
  min-height: 410px;
}

@media (min-width: 300px) and (max-width: 500px) {

  .content-border {
    max-width: 100%;
    padding: 0px;
  }

  .mobile-width {
    padding: 0px;
  }

}


/******************************** Reviews *********************************/

.panel-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding-left: 15px;
  padding-bottom: 10px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 0px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}

/******************************** Review Comments ********************************/

.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

@media (min-width: 300px) and (max-width: 500px) {

  .panel-mobile {
    max-width: 100%;
  }

  .post-heading {
    display: inline-block;
    margin: 0px;
  }

  .post-description {
    display: block;
    margin-top: 25px;
  }

}

/********************************* Most Played Champions *********************************/

.most-played-box {
  margin-bottom: 2px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  background: #F5F5F5;
}

.champions {
  display: table;
  background: #b2cecf;
  width: 100%;
  font-size: 11px;
  padding: 5px;
  margin-bottom: 2px;
}

.champions-row  {
    display: table-row;
}

.champions-img {
  margin-right: 5px;
}

.champion-img {
    height: 50px;
    width: 50px;
}

.champion-name {
  font-weight: bold;
}

.champions-name, .champions-info, .champions-played {
    display: table-cell;
    vertical-align: middle;
}

.champions-name {
  width: 35%;
  text-align: left;
}

.champions-info, .champions-played {
  width: 40%;
  text-align: center;
}

.champions-ratio {
    font-weight: bold;
    font-size: 24px;
}

/******************************** Matches ********************************/

.item-img {
    display: inline-block;
}

.item-img img, .spell-img img {
    height: 16px;
    width: 16px;
    border-radius: 2px;
}

.fellowPlayerName {
    display: none;
}

@media (min-width: 768px) {
    .item-img img, .spell-img img {
        height: 32px;
        width: 32px;
        border-radius: 4px;
    }
    
    .fellowPlayerName {
        display: inline;
    }
}

.matches-summoner {
    margin-left: 10px;
    height: 55px;
    width: 55px;
}

.match-header {
    font-family: "Verdana";
    font-size: 12px;

    border-color: #009933;
    border-width: 1px;
    background: #72E2A1;
}

.match-header-defeat {
    font-family: "Verdana";
    font-size: 12px;

    border-color: #CC4040;
    border-width: 1px;
    background: #EBB3B3;
}

.match-date {
  float: right;
  margin-right: 5px;
}

.matches {
  display: table;
  width: 100%;
  font-size: 11px;
  background: #E0FFE0;
  padding: 5px;
  margin-bottom: 7px;
}

.matches-defeat {
  display: table;
  width: 100%; 
  font-size: 11px;
  background: #F5D9D9;
  padding: 5px;
  margin-bottom: 7px;
}

.matches-row  {
    display: table-row;
}

.match-items {
    width: 110px;
}

.match-img, .match-spells, .match-stats-1, .match-stats-2, .match-items, .match-trinket, .match-summoners {
    display: table-cell;
    vertical-align: middle;
}

.match-img, .match-stats-1, .match-stats-2 {
    width: 80px;
}

.match-trinket {
    width: 100px;
}

.match-spells {
    width: 60px;
}

.match-summoners {
    vertical-align: middle;
}

.match-team {
    width: 40%;
    display: inline-block;
/*    overflow: hidden;*/
}

.summoner-img {
    height: 16px;
    width: 16px;
    border-radius: 4px;
}

.match-summoners { white-space: nowrap; }

/******************************** Friends ********************************/

.list-group .title{
  background:#5bc0de;
  border:2px solid #DDDDDD;
  font-weight:bold;
  color:#FFFFFF;
}

.list-group-item {
  margin: 5px;
}

.list-group-item img {
    height:80px; 
    width:80px;
}

.prj-name {
    color:#5bc0de;    
}

.break{
    width:100%;
    margin:20px;
}

.name {
    color:#5bc0de;    
}

@media (min-width: 300px) and (max-width: 500px) {

  .list-content {
    min-height: 0px;
  }

  .list-group-item {
    margin: 5px;
  }

}