.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  font-family:"Helvetica Neue";
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.searchfield {
	position: relative;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	height:auto;
	font-family:"Helvetica Neue";
}

.searchfield input {
	height: 32px;
  	width: 350px;
}

.logofield {
	margin-top: 200px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

.logofieldreg {
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;	
}

.regfield {
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	font-family:"Helvetica Neue";
}

.regfield input {
	width: 350px;
}

.footerfield {
	margin-top: 350px;
}

.footerfieldreg {
	margin-top: 150px;
}

.button-green {
  	color: white;
  	border-radius: 4px;
  	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  	background: rgb(28, 184, 65);
}