<!-- views/partials/head.ejs -->

  <!-- meta -->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="League of Legends">

  <!-- CSS -->

  <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- bootstrap css-->
  <link rel="stylesheet" href="/css/rektmain.css" type="text/css"> <!-- rekt css -->

  <!-- JS -->

  <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/rektmain.js"></script>