
<!-- views/partials/header.html -->

      <!-- Header -->

      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            {% if (isActive('/')) || (isActive('signup')) || (isActive('login')) %}
              <a class="navbar-brand" href="/">Rekt GG</a>
            {% elseif (isActive('ratings')) %}
              <a href="/"><img src="../../img/logoheader.png"></a>
            {% else %}
              <a href="/"><img src="../img/logoheader.png"></a>
            {% endif %}

          </div>

          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">

            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
              </li>
            </ul>

            {% if (!isActive('/')) %}
            <center>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
            </center>
            {% endif %}

            {% if (req.isAuthenticated()) %}
              <ul class="nav navbar-nav navbar-right">
                <li><a href="../navbar/">My Profile</a></li>
                <li class="active"><a href="./">Help <span class="sr-only">(current)</span></a></li>
                <li><a href="/logout" title="logout">Log out</a></li>
              </ul>
            {% else %}
              <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                  <ul id="login-dp" class="dropdown-menu">
                    <li>
                      <div class="row">
                        <div class="col-md-12">

                          <div class="social-buttons">
                              <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                              <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                          </div>

                          <form class="form" action="/users/session", method="post" class="navbar-form navbar-right" role="form">
                          <input type="hidden" name="_csrf" value="{{ csrf_token }}">

                            <div class="form-group">
                              <input type="email" class="form-control" name="email" placeholder="E-mail">
                            </div>

                            <div class="form-group">
                              <input type="password" class="form-control" name="password" placeholder="Password">
                              <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                            </div>

                            <div class="form-group">
                              <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                            </div>

<!--                             <div class="checkbox">
                              <label>
                                <input type="checkbox"> keep me logged-in
                              </label>
                            </div> -->

                          </form>
                        </div> <!-- col-md-12 -->
                              
<!--                         <div class="bottom text-center">
                          New here ? <a href="#"><b>Join Us</b></a>
                        </div> -->

                      </div> <!-- row -->
                    </li>
                  </ul> <!-- unordered list login-dp -->
                </li> <!-- list class dropdown -->

                <li><a href="/signup">Register</a></li>

              </ul> <!-- unordered list class navbar-right -->
            {% endif %}

          </div>
        </div>
      </nav>