{% extends '../layouts/default.html' %}

{% block content %}

<div class="container">
    <div class="row">
	  <div class="col-sm-12">
	    <h1 class="title-lg first-child text-center text-primary"><span>Welcome to RektGG</span></h1>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-sm-4 col-lg-3">
	    <h3 class="title-block">About us</h3>
	    <p>We are two league of legends fanatics who love everything about the game and as fellow players we are aware of some major issues that players face. To address one of the concerns we decided to build RektGG which gives players the ability to share their experiences with other players. Our end goal is to encourage a more positive game environment. </p>

	    <p>Contact us: <a>RektGGtemp@Gmail.com</a></p>
	  </div>
	  <div class="col-sm-8 col-lg-9">
	    <h3 class="title-block second-child">General Questions</h3>
	    <div class="panel-group" id="faqList">
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionOne" class="collapsed">
	              What is the purpose of this site?
	            </a>
	          </h4>
	        </div>
	        <div id="questionOne" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>Ever felt that reporting or honoring was never enough? RektGG allows users to go into detail and share, not just with riot but with other players, their experiences they had with certain summoners.</p>
	            <p>Registerd users will also have their own profiles where they may post anything that comes to their minds, this will be expanded (see "What the future holds")</p>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionTwo" class="collapsed">
	              How do I review players?
	            </a>
	          </h4>
	        </div>
	        <div id="questionTwo" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>You must register with our site to review other players, once registered you will be able to rate and review a summoner after searching their summoner name.</p> 
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionThree" class="collapsed">
	              Will the ratings have any effect on my league of legends account?
	            </a>
	          </h4>
	        </div>
	        <div id="questionThree" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>No, the ratings and reviews are strictly informational. Players will have hold various opinions of a summoner but patterns may be identified to help direct the RektGG user on how to approach and respond to certain summoners. </p>
	          </div>
	        </div>
	      </div>
<!-- 	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionFour" class="">
	              How do I verify  my account?
	            </a>
	          </h4>
	        </div>
	        <div id="questionFour" class="panel-collapse collapse" style="">
	          <div class="panel-body">
	            <p>Answer 4</p>
	          </div>
	        </div>
	      </div> -->
	 
	    <h3 class="title-block second-child">What the future holds</h3>
	    	<p>Based on feedback we will implement more features but these are the ideas we have planned.</p>
	    	<div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionFour" class="collapsed">
	              Friend list
	            </a>
	          </h4>
	        </div>
	        <div id="questionFour" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>We plan to allow registerd users to add other registered users or verified summoners (see "Account verification") to their personal friendlist to enable quick and easy access to their profiles. Our goal for this feature is to make RektGG a social platform where users can share their amazing plays, funny moments, creative builds, and everything else they enjoy about league</p>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionFive" class="collapsed">
	              Account verification
	            </a>
	          </h4>
	        </div>
	        <div id="questionFive" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>We will allow summoners to link their accounts to their profiles so that they will have the options of both user and summoner. These options include Matches, Reviews, Activity, and Friends. Our goal for this feature is for simplicity, users will be able to see their summoner profile page while still having the benefits of a user profile page.</p> 
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionSix" class="collapsed">
	              Profile personalization
	            </a>
	          </h4>
	        </div>
	        <div id="questionSix" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>We also want to enhance the user experience and plan to allow users to modify their profile images, background banner, usernames, avatar, and more. Our goal for this feature is to make users feel that they have their own personal space where they can share anything they wish.</p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
		<div class="riotLicense">
			<p>RektGG isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
		</div>
	</div>
</div>          

{% endblock %}