{% extends '../layouts/default.html' %}

{% block content %}

<title>Rektgg.com - Help - League of Legend Summoner Review</title>

<div class="container">
    <div class="row">
	  <div class="col-sm-12">
	    <h1 class="title-lg first-child text-center text-primary"><span>Welcome to RektGG</span></h1>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-sm-4 col-lg-3">
	    <h3 class="title-block">About us</h3>
	    <p>We are two league of legends fanatics who love everything about the game and as fellow players we are aware of some major issues that players face. To address one of the concerns we decided to build RektGG which gives players the ability to share their experiences with other players. Our end goal is to encourage a more positive game environment. </p>

	    <p>Contact us: <a>RektGGHelp@Gmail.com</a></p>
	  </div>
	  <div class="col-sm-8 col-lg-9">
	    <h3 class="title-block second-child">General Questions</h3>
	    <div class="panel-group" id="faqList">
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionOne" class="collapsed">
	              What is the purpose of this site?
	            </a>
	          </h4>
	        </div>
	        <div id="questionOne" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>Ever felt like a player was a valuable asset to your team and displayed leadership qualities that carried your team to victory or put up a heroic fight until the end? Sometimes the league of legends honor system does not offer enough to show your respect for a player and so RektGG offers a carry rating system to help summoners identify commendable individuals.</p>
	            <p>Registerd users will also have their own profiles where they may post anything that comes to their minds that they want to share or save, this will be expanded (see "What the future holds").</p>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionTwo" class="collapsed">
	              How do I review players and what do the ratings represent?
	            </a>
	          </h4>
	        </div>
	        <div id="questionTwo" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>You must register with our site to review other players, once registered you will be able to rate and review a summoner after searching their summoner name.</p> 
	            <p>1 star - Knowlegable in his/her respective lane</br>
					2 stars - Frequently wins his/her respective lane match ups</br>
					3 stars - Provides support for his/her teammates</br>
					4 stars - Displays leadership skills and helps organizes the team's objectives</br>
					5 stars - Amazing mechanics and/or shotcalling, huge threat to the enemy team</p>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionThree" class="collapsed">
	              Will the ratings have any effect on my league of legends account?
	            </a>
	          </h4>
	        </div>
	        <div id="questionThree" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>No, the ratings and reviews are strictly informational. The ratings are used to reflect on how well and/or consistent a player is to provide a sort of feedback for the rated player, and his/or teammates. This feedback will help the player realize what he can do to improve or to reassure him/herself that they are on the right track and doing an excellent job.</p>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionFour" class="collapsed">
	              Toxic feedback
	            </a>
	          </h4>
	        </div>
	        <div id="questionFour" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>Giving users the ability to evaluate and help other summoners also enables them to give negative and unnecessary feedback that will not help anybody. We take these situations very seriously and will remove these reviews upon request.</p></br>
	            <p>Request removal with URL at: <a>RektGGHelp@Gmail.com</a></p>
	          </div>
	        </div>
	      </div>
<!-- 	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionFour" class="">
	              How do I verify  my account?
	            </a>
	          </h4>
	        </div>
	        <div id="questionFour" class="panel-collapse collapse" style="">
	          <div class="panel-body">
	            <p>Answer 4</p>
	          </div>
	        </div>
	      </div> -->
	 
	    <h3 class="title-block second-child">What the future holds</h3>
	    	<p>Based on feedback we will implement more features but these are the ideas we have planned.</p>
	    	<div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionFive" class="collapsed">
	              Friend list
	            </a>
	          </h4>
	        </div>
	        <div id="questionFive" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>We plan to allow registerd users to add other registered users or verified summoners (see "Account verification") to their personal friendlist to enable quick and easy access to their profiles. Our goal for this feature is to make RektGG a social platform where users can share their amazing plays, funny moments, creative builds, and everything else they enjoy about league</p>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionSix" class="collapsed">
	              Account verification
	            </a>
	          </h4>
	        </div>
	        <div id="questionSix" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>We will allow summoners to link their accounts to their profiles so that they will have the options of both user and summoner. These options include Matches, Reviews, Activity, and Friends. Our goal for this feature is for simplicity, users will be able to see their summoner profile page while still having the benefits of a user profile page.</p> 
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#faqList" href="#questionSeven" class="collapsed">
	              Profile personalization
	            </a>
	          </h4>
	        </div>
	        <div id="questionSeven" class="panel-collapse collapse" style="height: 0px;">
	          <div class="panel-body">
	            <p>We also want to enhance the user experience and plan to allow users to modify their profile images, background banner, usernames, avatar, and more. Our goal for this feature is to make users feel that they have their own personal space where they can share anything they wish.</p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
		<div class="riotLicense">
			<p>RektGG isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
		</div>
	</div>
</div>          

{% endblock %}