   <!-- views/partials/matches.html -->  

   <div id="contentCol">
      <div class="content-sidebar">
<!--          <div class="row hidden-xs hidden-sm">
            <a href="#" class="btn btn-info" id="toggle-link">
               <i class="fa fa-arrow-left"></i>
               Hide menu
            </a>
            <hr class="hr-sep">
         </div> -->

         <button type="button" class="btn btn-success" style="float: right;">Refresh</button>
         <br></br>
         <br></br>

         <div class="row">
            <div class="col-xs-12 col-sm-12">
               <textarea class="form-control" rows="3" placeholder="Say something..."></textarea>                        
            </div>
         </div>
         <hr>

         {% for champion in summoner.games %}

         <div class="row">
            <div class="col-sm-2 col-md-2">
               <span>{{ champion.gameType }}</span>
               <img src= {{ champion.img }} class="img-responsive  img-circle">
            </div>
            <div class="col-md-10">
               <div class="row post">
                  <div class="col-md-12">
                     
                     <span>{{ champion.stats.item0 }}</span>
                     <span>{{ champion.stats.item1 }}</span>
                     <span>{{ champion.stats.item2 }}</span>
                     <span>{{ champion.stats.item3 }}</span>
                     <span>{{ champion.stats.item4 }}</span>
                     <span>{{ champion.stats.item5 }}</span>
                     <span>{{ champion.stats.item6 }}</span>

                  </div>
               </div>
            </div>
         </div>
         <hr>

         {% endfor %}

      </div> <!-- content sidebar -->
   </div> <!-- content column -->

