   <!-- views/partials/most-played-previous.html -->

   {% set count = 0 %}

   {% for champion in summoner.pastSeason.champions %}

      {% if count < 6 && champion.id != 0 %}

      <div class="row championRow">
         <div class="col-xs-4 championImage">
            <img class="media-object img-circle" src= "{{ champion.img }}">
           
               <span>{{ champion.id }}</span>
               <span>{{ (champion.stats.totalMinionKills / champion.stats.totalSessionsPlayed).toFixed(1) }}</span>
          
         </div>

         <div class="col-xs-6 championInfo">

            <span>{{ (champion.stats.totalChampionKills / champion.stats.totalSessionsPlayed).toFixed(1) }} / </span>
            <span>{{ (champion.stats.totalDeathsPerSession / champion.stats.totalSessionsPlayed).toFixed(1) }} / </span>
            <span>{{ (champion.stats.totalAssists / champion.stats.totalSessionsPlayed).toFixed(1) }}</span>

         </div>

         <div class="col-xs-2 championPlayed">

            <span>{{ champion.stats.totalSessionsPlayed }} Games</span>

               <div class="championWinRate">

                  <span>{{ (champion.stats.totalSessionsWon / champion.stats.totalSessionsPlayed * 100).toFixed(0) }} %</span>
                  
               </div>

         </div>

      </div>

      {% set count += 1 %}
      
      {% endif %}

   {% endfor %}