   <!-- views/partials/most-played.html -->

{% set count = 0 %}

{% for champion in champions %}

   	{% if count < 6 && champion.id != 0 %}

   	{% set champLink = "https://rektgg.s3.amazonaws.com/champion_square/" + champion.id + ".png" %}
   	{% set avgKills = champion.stats.totalChampionKills / champion.stats.totalSessionsPlayed %}
   	{% set avgAssists = champion.stats.totalAssists / champion.stats.totalSessionsPlayed %}
   	{% set avgDeaths = champion.stats.totalDeathsPerSession / champion.stats.totalSessionsPlayed %}
   	{% set kPlusA = avgKills + avgAssists %}

	<div class="champions">
		<div class="champions-row">
			<div class="champions-img">
				<img class="champion-img img-circle" src= {{ champLink }}></img>
			</div>
			<div class="champions-name">
				<div class="champion-name">
					<span><script> getChampionName( {{ champion.id }} ) </script></span>
				</div>
				<span>{{ (champion.stats.totalMinionKills / champion.stats.totalSessionsPlayed).toFixed(1) }} CS </span>
			</div>
			<div class="champions-info">
				<div>{{ (kPlusA / avgDeaths).toFixed(2) }} KDA</div>
				<span>{{ (champion.stats.totalChampionKills / champion.stats.totalSessionsPlayed).toFixed(1) }} / </span>
				<span>{{ (champion.stats.totalDeathsPerSession / champion.stats.totalSessionsPlayed).toFixed(1) }} / </span>
				<span>{{ (champion.stats.totalAssists / champion.stats.totalSessionsPlayed).toFixed(1) }}</span>
			</div>
			<div class="champions-played">
				<div>{{ champion.stats.totalSessionsPlayed }} Games</div>
				<span class="champions-ratio">{{ (champion.stats.totalSessionsWon / champion.stats.totalSessionsPlayed * 100).toFixed(0) }}%</span>
			</div>
		</div>
	</div>

   {% set count += 1 %}
   
   {% endif %}

{% endfor %}