<!-- views/partials/profile-column.html -->     

      <div class="col-md-3" id="profileCol">
         <div class="profile-sidebar">
            <div class="profile-userpic">
               <img class="img-circle img-responsive" src="https://s3-us-west-2.amazonaws.com/rektgg/others/avatar1.png">
            </div>
            <div class="profile-usertitle">
               <div class="profile-usertitle-name">
                  {% if summoner %}
                     {{ summoner.name }}
                  {% elseif userName %}
                     {{ userName }}
                  {% else %}
                     {{ req.user.username }}
                  {% endif %}
               </div>
            </div>
            <div class="profile-userbuttons">
               {% if req.user %}
                  <button type="button" name={{ userName }} id="friendID" class="btn btn-sm friend-btn">
                     <i class="fa fa-user-plus"></i>
                     Friend Request
                  </button>
               {% else %}
                  <button type="button" class="btn btn-sm friend-btn" onclick="location.href='/login'">
                     Log in to add friend
                  </button>
               {% endif %}
            </div>
            <div class="profile-usermenu profile-stats">

               {% if summoner.league != null %}

                  <div class="rankedStats">
                     <div class="rankedStatsHeader">
                        Solo Queue
                     </div>

                     <script>
                        function getWinRate() {
                           var x = parseInt({{summoner.league[0].entries[0].wins}}) + parseInt({{summoner.league[0].entries[0].losses}});
                           var y = (parseInt({{summoner.league[0].entries[0].wins}}) / x * 100).toFixed(0);
                           document.write(y);
                        }
                     </script>

                     <span class="rankedWins">{{ summoner.league[0].entries[0].wins }} <b>W</b></span>
                     <span class="rankedLosses">{{ summoner.league[0].entries[0].losses }} <b>L</b></span>
                     <span class="rankedWinRate">(<b><script> getWinRate() </script></b>% Win Rate) </span>

                  </div>

               {% elseif summoner.games %}

                  <div class="unrankedInfo">
                     <div class="unrankedInfoHeader">
                        Summoner level {{ summoner.summonerLevel }}
                     </div>
                  </div>

               {% else %}

                  <div class="unrankedInfo">
                     <div class="unrankedInfoHeader">
                        User
                     </div>
                  </div>

               {% endif %}

               {# Tiers #}

               {% if summoner.league != null %}
                  {% if summoner.league[0].tier == "BRONZE" %}
                     <img src="https://s3-us-west-2.amazonaws.com/rektgg/others/bronze.png" class="tierIcon"></img>
                  {% elseif summoner.league[0].tier == "SILVER" %}
                     <img src="https://s3-us-west-2.amazonaws.com/rektgg/others/silver.png" class="tierIcon"></img>
                  {% elseif summoner.league[0].tier == "GOLD" %}
                     <img src="https://s3-us-west-2.amazonaws.com/rektgg/others/gold.png" class="tierIcon"></img>
                  {% elseif summoner.league[0].tier == "PLATINUM" %}
                     <img src="https://s3-us-west-2.amazonaws.com/rektgg/others/platinum.png" class="tierIcon"></img>
                  {% elseif summoner.league[0].tier == "DIAMOND" %}
                     <img src="https://s3-us-west-2.amazonaws.com/rektgg/others/diamond.png" class="tierIcon"></img>
                  {% elseif summoner.league[0].tier == "MASTER" %}
                     <img src="https://s3-us-west-2.amazonaws.com/rektgg/others/master.png" class="tierIcon"></img>
                  {% elseif summoner.league[0].tier == "CHALLENGER" %}
                     <img src="https://s3-us-west-2.amazonaws.com/rektgg/others/challenger.png" class="tierIcon"></img>
                  {% endif %}
               {% else %}
                  <center>
                     <img src="https://s3-us-west-2.amazonaws.com/rektgg/others/unranked.png" class="tierIcon"></img>
                  </center>
               {% endif %}

               {# Division #}
                  
               {% if summoner.league != null %}
                  <div class="summonerStats">

                     {% if summoner.league[0].tier == "BRONZE" %}
                        <span class="divisionRank">Bronze {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "SILVER" %}
                        <span class="divisionRank">Silver {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "GOLD" %}
                        <span class="divisionRank">Gold {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "PLATINUM" %}
                        <span class="divisionRank">Platinum {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "DIAMOND" %}
                        <span class="divisionRank">Diamond {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "MASTER" %}
                        <span class="divisionRank">Master {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "CHALLENGER" %}
                        <span class="divisionRank">Challenger {{ summoner.league[0].entries[0].division }} </span>
                     {% endif %}
                     
                     {% if summoner.league != null %}
                        <div>
                           <span class="leaguePoints">{{ summoner.league[0].entries[0].leaguePoints }} LP</span>
                        </div>

                        <div>
                           <span class="divisionName"><p class="text-muted">{{ summoner.league[0].name }}</p></span>
                        </div>
                     {% endif %}

                  </div>
               {% else %}
                  <div class="divisionUnranked">Unranked</div>
               {% endif %}

            </div>
            <div class="profile-usermenu">
                {% set reviewRoute = "/summoner_ratings/" + summoner.region + "/" + summoner.id %}
                <ul class="nav">
                  <li class="active">
                     <a href={{ reviewRoute }}>
                        <i class="glyphicon glyphicon-heart"></i>
                        Summoner Rating
                        {% if summoner.average == 0 %}
                           0.0
                        {% else %}
                           {{ summoner.average.toFixed(1) }}
                        {% endif %}
                     </a>                
                  </li>

                  <div class="summoner-rating">
                     {% set count =  summoner.average %}
                     {% for i in Array(Math.ceil(count)) %}
                        <span class="summoner-rating-stars"><img src="../img/star.png"</img></span>
                     {% endfor %}
                     <span class="summoner-rating-count">
                        {% if summoner.count == 0 %}
                           No Reviews
                        {% else %}
                           {{ summoner.count }} Reviews
                        {% endif %}
                     </span>
                  </div>

                  {# <li>
                     <a href="#">
                     <i class="glyphicon glyphicon-user"></i>
                     Account Settings </a>
                  </li>
                  <li>
                     <a href="#" target="_blank">
                     <i class="glyphicon glyphicon-ok"></i>
                     Tasks </a>
                  </li>
                  <li>
                     <a href="#">
                     <i class="glyphicon glyphicon-flag"></i>
                     Help </a>
                  </li> #}
               </ul>
            </div>

            <!-- Most Played Champions -->

            {% if summoner.currentSeason.champions != null %}
   			   
               <div class="most-played-box">
                  Season 5 Most Played Champions
                  {% set champions = summoner.currentSeason.champions %}
                  {% include '../partials/most-played.html' with champions %}
               </div>

            {% endif %}
            
            <br></br>

            {% if summoner.pastSeason.champions != null %}

               <div class="most-played-box">
                  Season 4 Most Played Champions
                  {% set champions = summoner.pastSeason.champions %}
                  {% include '../partials/most-played.html' with champions %}                  
               </div>

            {% endif %}

         </div> <!-- profile sidebar -->
      </div> <!-- profile column -->