<!-- views/partials/profile-column.html -->     

      <div class="col-md-3" id="profileCol">
         <div class="profile-sidebar">
            <div class="profile-userpic">
               <img class="img-circle img-responsive" src="/img/avatar.png" alt="" height="200" width="200">
            </div>
            <div class="profile-usertitle">
               <div class="profile-usertitle-name">
                  {{ summoner.name }}
               </div>
            </div>
            <div class="profile-userbuttons">
               <button type="button" class="btn btn-info btn-sm">
                  <i class="fa fa-user-plus"></i>
                  Friend Request
               </button>
            </div>
            <div class="profile-usermenu">

               {% if summoner.league != null %}

                  <div class="rankedStats">
                     <span>{{ summoner.league[0].entries[0].wins }} W {{ summoner.league[0].entries[0].losses }} L</span>
                  </div>

                  {# Tiers #}

                  {% if summoner.league[0].tier == "BRONZE" %}
                     <span><img src="../img/bronze.png"></img></span>
                  {% elseif summoner.league[0].tier == "SILVER" %}
                     <span><img src="../img/silver.png"></img></span>
                  {% elseif summoner.league[0].tier == "GOLD" %}
                     <span><img src="../img/gold.png"></img></span>
                  {% elseif summoner.league[0].tier == "PLATINUM" %}
                     <span><img src="../img/platinum.png"></img></span>
                  {% elseif summoner.league[0].tier == "DIAMOND" %}
                     <span><img src="../img/diamond.png"></img></span>
                  {% elseif summoner.league[0].tier == "MASTER" %}
                     <span><img src="../img/master.png"></img></span>
                  {% elseif summoner.league[0].tier == "CHALLENGER" %}
                     <span><img src="../img/challenger.png"></img></span>
                  {% endif %}

                  {# Division #}

                  <div class="summonerStats">

                     {% if summoner.league[0].tier == "BRONZE" %}
                        <span class="divisionRank">Bronze {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "SILVER" %}
                        <span class="divisionRank">Silver {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "GOLD" %}
                        <span class="divisionRank">Gold {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "PLATINUM" %}
                        <span class="divisionRank">Platinum {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "DIAMOND" %}
                        <span class="divisionRank">Diamond {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "MASTER" %}
                        <span class="divisionRank">Master {{ summoner.league[0].entries[0].division }} </span>
                     {% elseif summoner.league[0].tier == "CHALLENGER" %}
                        <span class="divisionRank">Challenger {{ summoner.league[0].entries[0].division }} </span>
                     {% endif %}
                     
                     <div>
                        <span class="leaguePoints">{{ summoner.league[0].entries[0].leaguePoints }} LP</span>
                     </div>

                  {% endif %}

               </div>

            </div>
            <div class="profile-usermenu">
                {% set reviewRoute = "/summoner_ratings/" + summoner._id %}
                <ul class="nav">
                  <li class="active">
                     <a href={{ reviewRoute }}>
                        <i class="glyphicon glyphicon-heart"></i>
                        Summoner Rating
                        {% if summoner.average == 0 %}
                           0.0
                        {% else %}
                           {{ summoner.average.toFixed(1) }}
                        {% endif %}
                     </a>                
                  </li>
                  <li>
                     <div class="summoner-rating">
                        {% set count =  summoner.average %}
                        {% for i in Array(Math.ceil(count)) %}
                           <span><img src="../img/star.png"</img></span>
                        {% endfor %}
                        <span class="summoner-rating-count">
                           {% if summoner.count == 0 %}
                              No Reviews
                           {% else %}
                              {{ summoner.count }} Reviews
                           {% endif %}
                        </span>
                     </div>
                  </li>
                  {# <li>
                     <a href="#">
                     <i class="glyphicon glyphicon-user"></i>
                     Account Settings </a>
                  </li>
                  <li>
                     <a href="#" target="_blank">
                     <i class="glyphicon glyphicon-ok"></i>
                     Tasks </a>
                  </li>
                  <li>
                     <a href="#">
                     <i class="glyphicon glyphicon-flag"></i>
                     Help </a>
                  </li> #}
               </ul>
            </div>

            <!-- Most Played Champions -->

            {% if summoner.currentSeason.champions != null %}
   			   
               <div class="most-played-box">
                  Season 5 Most Played Champions
                  {% set champions = summoner.currentSeason.champions %}
                  {% include '../partials/most-played.html' with champions %}
               </div>

            {% endif %}
            
            <br></br>

            {% if summoner.pastSeason.champions != null %}

               <div class="most-played-box">
                  Season 4 Most Played Champions
                  {% set champions = summoner.pastSeason.champions %}
                  {% include '../partials/most-played.html' with champions %}                  
               </div>

            {% endif %}

         </div> <!-- profile sidebar -->
      </div> <!-- profile column -->