{% extends '../layouts/default.html' %}

{% block content %}
<div class="container">
  <center>
    <div class="logofieldreg">
      <a href="/"><img src="img/templogo.png"></a>
    </div>
  </center>
  <div class="col-md-4 col-md-offset-4"> 
    <div class="regfield">
      <form action="/users", method="post" role="form">
        <input type="hidden" name="_csrf" value="{{ csrf_token }}">
        <div class="form-group required">
          <label for="name" class="control-label">Username</label>
            <center><input type="text" class="form-control" id="name" name="name" placeholder="Username" value="{{ user.name }}"></center>
        </div>
        <div class="form-group required">
          <label for="email" class="control-label">E-mail</label>
          <center><input type="email" class="form-control" id="email" name="email" placeholder="E-mail" value="{{ user.email }}"></center>
        </div>
        <div class="form-group required">
          <label for="password" class="control-label">Password</label>
            <center><input type="password" class="form-control" name="password" placeholder="Password"></center>
        </div>
        <div class="form-group required">
          <label for="password" class="control-label">Confirm Password</label>
            <center><input type="password" class="form-control" name="password_confirm" placeholder="Password"></center>
        </div>
        <center>
          <button class="btn btn-success" type="submit">Register</button>
        </center>
      </form>
    </div>
  </div>
</div>
{% endblock %}
