<!DOCTYPE html>
<html lang = "en">

<head>

  <!-- Head -->

  {% include '../partials/head.html' %}

  <title>RektGG - Get Rekt</title>

</head>

<body>

      <!-- Header -->

      {% include '../partials/header.html' %}

      <!-- Body -->

<!--       <div class="container">
        <center>
          <div class="logofield">
            <a href="/"><img src="img/logo.png"></a>
          </div>
        </center>
        <div class="searchfield">
          <center>
            <form class="form-inline" action="/summonerSearch" method="get" accept-charset="UTF-8">
              <div class="form-group">
                <input type="text" name="summonerName" id="summoner" placeholder="Search Summoner or User">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
          </center>
        </div>
      </div> -->

      <div class="container">
        <center>
          <div class="logofield">
            <a href="/"><img src="img/logo.png"></a>
          </div>
        </center>
        <div class="searchfield">
          <center>
            <form class="form-inline" action="/summonerSearch" method="get" accept-charset="UTF-8" id="summoner-search">
              <div class="input-group">
                <div class="input-group-btn search-summoner">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                    <span id="search_concept">Summoner </span> <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Summoner</a></li>
                    <li><a href="#">User</a></li>
                  </ul>
                </div>
                <div class="input-group">
                  <input type="hidden" name="region" value="all" id="region"> 
                  <input type="text" class="form-control" name="summonerName" id="summoner" placeholder="Search">
                  <div class="input-group-btn search-region">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span id="search_concept">NA </span> <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#NA">NA</a></li>
                      <li><a href="#EUW">EUW</a></li>
                      <li><a href="#EUNE">EUNE</a></li>
                      <li><a href="#BR">BR</a></li>
                      <li><a href="#TR">TR</a></li>
                      <li><a href="#RU">RU</a></li>
                      <li><a href="#LAN">LAN</a></li>
                      <li><a href="#LAS">LAS</a></li>
                      <li><a href="#OCE">OCE</a></li>
                    </ul>
                  </div>
                </div>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </form>
          </center>
        </div>
      </div>

      <!-- Footer -->  
      <footer class="footer">
        {% include '../partials/footer.html' %}
      </footer>

</body>

</html>