{% extends '../layouts/default.html' %}

{% block main %}

{% endblock %}

{% block content %}

<!-- Header Photo -->
  
<div class="container-fluid">
   <div class="cover-container">
      <div class="social-cover"></div>
      <div class="social-desc">
         </div>
      </div>
<!--       <div class="social-avatar" >
         <img class="img-avatar" src="http://bootdey.com/img/Content/user-453533-fdadfd.png" height="100" width="100">
         <h4 class="fg-white text-center">Marting lowenyert</h4>
         <h5 class="fg-white text-center" style="opacity:0.8;">DevOps Engineer, NY</h5>
         <hr class="border-black75" style="border-width:2px;" >
         <div class="text-center">
          <button role="button" class="btn btn-inverse btn-outlined btn-retainBg btn-brightblue" type="button">
            <span>follow me</span>
          </button>
         </div>
      </div> -->
   </div>
</div>

<!-- Content -->

<div class="container-fluid">
   <div class="row profile">

      <!-- Profile Column -->
      <div class="col-md-3" id="profileCol">
         <div class="profile-sidebar">
            <div class="profile-userpic">
               <img class="img-circle img-responsive" src="https://pbs.twimg.com/profile_images/601667089556877312/O4wYkI6_.jpg" alt="">
            </div>
            <div class="profile-usertitle">
               <div class="profile-usertitle-name">
                  {{ summoner.name }}
               </div>
            </div>
            <div class="profile-userbuttons">
               <button type="button" class="btn btn-info btn-sm">
                  <i class="fa fa-user-plus"></i>
                  Friend Request
               </button>
            </div>
            <div class="profile-usermenu">
               <ul class="nav">
                  <li class="active">
                     <a href="#">
                     <i class="glyphicon glyphicon-home"></i>
                     Overview </a>
                  </li>
                  <li>
                     <a href="#">
                     <i class="glyphicon glyphicon-user"></i>
                     Account Settings </a>
                  </li>
                  <li>
                     <a href="#" target="_blank">
                     <i class="glyphicon glyphicon-ok"></i>
                     Tasks </a>
                  </li>
                  <li>
                     <a href="#">
                     <i class="glyphicon glyphicon-flag"></i>
                     Help </a>
                  </li>
               </ul>
            </div>

   			<!-- Most Played Champions -->
            <b>Season 5 Most Played Champions</b> <br></br>

   			<div id="profile-champions" class="row">
   				<div class="col-xs-12">
                  {% include '../partials/most-played.html' %}
                  <br></br>
   				</div>
   			</div>

            <b>Season 4 Most Played Champions</b> <br></br>

            <div id="profile-champions" class="row">
               <div class="col-xs-12">
                  {% include '../partials/most-played-previous.html' %}
               </div>
            </div>

         </div> <!-- profile sidebar -->
      </div> <!-- profile column -->

      <!-- Content Column -->
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
         <div class="content-border">
            <div class="clearfix"></div>
            <ul class="nav nav-tabs">
            <!-- <ul class="nav nav-pills"> -->
               <li class="active">
                  <a href="#tab" data-toggle="tab">
                     Activity
                  </a>
               </li>
               <li class="">
                  <a href="#tab2" data-toggle="tab">
                     Matches
                  </a>
               </li>
               <li class="">
                  <a href="#tab3" data-toggle="tab">
                     Account
                  </a>
               </li>
               <li class="">
                  <a href="#tab4" data-toggle="tab">
                     Runes
                  </a>
               </li>
               <li class="">
                  <a href="#tab5" data-toggle="tab">
                     Masteries
                  </a>
               </li>
            </ul>
            
            <div class="tab-content">
               <div class="tab-pane active" id="tab">
                  <div class="row">
                        <hr class="hr-sep">
                        {% include '../partials/activity.html' %}
                        <hr>
                  </div>
               </div>
               <div class="tab-pane" id="tab2">
                  <div class="row">
                        <hr class="hr-sep">
                        {% include '../partials/matches.html' %}
                        <hr>
                  </div>
               </div>
               <div class="tab-pane" id="tab3">
                  <div class="row">
                        <hr class="hr-sep">
                        {% include '../partials/temp-tab3.html' %}
                        <hr>
                  </div>
               </div>
            </div> <!-- tab-content -->

         </div> <!-- content-border -->
      </div> <!-- col -->

   </div> <!-- row profile -->
</div> <!-- container-fluid -->
{% endblock %}
