<html>
  {% include '../partials/head.html' %}
<style>
  @media (min-width: 300px) and (max-width: 500px) {
    .regfield {
      text-align: center;
    }
    .regfield input {
      width: 250px;
    }
    .logofieldreg {
      margin-top: 50px;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
    }
    .footerfieldreg {
      margin-top: 25px;
    }
  }
</style>
<body>
  {% include '../partials/header.html' %}
  
  {% if (isActive('/')) || (isActive('signup')) || (isActive('login')) %}
    <div class="container">
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include '../partials/footer.html' %}
  {% else %}
    <div class="full-width-container">
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include '../partials/footer.html' %}
  {% endif %}
  

</body>
</html>
