<html>
  {% include '../partials/head.html' %}
<body>
  {% include '../partials/header.html' %}
  
  {% if (isActive('/')) || (isActive('signup')) || (isActive('login')) || (isActive('users')) %}
    <div class="container">
      <div class="page-header">
        {% block main %}{% endblock %}
      </div>
      <div class="messages">
        {% include '../partials/messages.html' %}
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include '../partials/footer.html' %}
  {% else %}
    <div class="full-width-container">
      <div class="page-header">
        {% block main %}{% endblock %}
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include '../partials/footer.html' %}
  {% endif %}
  

</body>
</html>
