<html>
  {% include '../partials/head.html' %}
<body>
  {% include '../partials/header.html' %}
  
  {% if (isActive('/')) || (isActive('signup')) || (isActive('login')) %}
    <div class="container">
      <div class="page-header">
        {% block main %}{% endblock %}
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer class="footer">
      {% include '../partials/footer.html' %}
    </footer>
  {% else %}
    <div class="full-width-container">
      <div class="content">
        {% include '../partials/profile-header-image.html' %}
        {% include '../partials/profile-column.html' %}
        <div class="container-fluid">
          <div class="row profile">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 mobile-width">
              <div class="content-border">
                  <div class="messages">
                    {% include '../partials/messages.html' %}
                  </div>
                      <div class="clearfix"></div>
                      <ul class="nav nav-tabs">
                      
                        {% set matchesRoute = "/summoners/" + summoner.region + "/" + summoner.id %}
                        {% set reviewRoute = "/summoner_ratings/" + summoner.region + "/" + summoner.id %}
                        {% set activityRoute = "/activity/" + user._id %}
                        {% set friendsRoute = "/friends/" + userName %}

                        {% if summoner %}
                          {% if (isActive('summoners') || isActive('summonerSearch')) %}
                            <li class="active">
                              <a>
                                Matches
                              </a>
                            </li>
                            <li class="">
                              <a href={{ reviewRoute }}>
                                Reviews
                              </a>
                            </li>
                          {% elseif (isActive('ratings')) %}
                            <li class="">
                              <a href= {{ matchesRoute }}>
                                Matches
                              </a>
                            </li>
                            <li class="active">
                              <a>
                                Reviews
                              </a>
                            </li>
                          {% endif %}
                        {% else %}
                          {% if (isActive('activity')) %}
                            <li class="active">
                              <a>
                                Activity
                              </a>
                            </li>
                            <li class="">
                              <a href={{ friendsRoute }}>
                                Friends
                              </a>
                            </li>
                          {% elseif (isActive('friend')) %}
                            <li class="">
                              <a href= {{ activityRoute }}>
                                Activity
                              </a>
                            </li>
                            <li class="active">
                              <a>
                                Friends
                              </a>
                            </li>
                          {% endif %}
                        {% endif %}
                      </ul>

                {% block content %}{% endblock %}

              </div>
            </div>
          </div>
        </div>      
      </div>
    </div>
    <footer class="footer">
      {% include '../partials/footer.html' %}
    </footer>
  {% endif %}

</body>
</html>